{% extends "layout.html" %}
{% block title %}Detalles de un usuario{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/user/new.css" type="text/css" media="all">
{% endblock %}
{% block content %}
<br>
<br>
 <div class="row align-items-center">
    <div class="col columna-lateral"></div>

    <div class="col-central">
      <div  id="centro" class="rounded container">
      <br>
      <h1>Detalles de ciclo lectivo</h1>
      <!-- Fecha Inicio -->
        <div class="custom-control-inline">
          <label>Fecha de inicio:</label> &nbsp; &nbsp; &nbsp; 
          <p>{{ ciclo.fecha_ini }}</p> 
        </div>
        <br>
      <!-- Fecha Fin -->
        <div class="custom-control-inline">
          <label>Fecha de fin:</label> &nbsp; &nbsp; &nbsp; 
          <p>{{ ciclo.fecha_fin }}</p> 
        </div>
        <br> 
      <!-- Numero semestre -->
        <div class="custom-control-inline">
          <label>Semestre:</label> &nbsp; &nbsp; &nbsp; 
          {%if ciclo.semestre == 1 %}
          <p> Primer semestre </p>
          {%else%}
          <p> Segundo semestre </p>
          {%endif%}
        </div>
        <br>
        <button  class="btn btn-primary"><a href="{{url_for('taller_ciclo', id=ciclo.id)}}" style='text-decoration:none;color:white;' >Ver Talleres Asignados</a></button>
        {% for permiso in permisos %}
        {% if permiso.nombre == "cicloLectivo_update"%}
        <br>
        <br>
        <button  class="btn btn-primary"><a href="{{url_for('ciclo_update', id=ciclo.id)}}" style='text-decoration:none;color:white;' >Editar</a></button>
        {%endif%}
        {% endfor %}
        <br>
        <br>
        <button  class="btn btn-primary"><a href="{{ url_for('ciclo_index', pagina=0) }}" style='text-decoration:none;color:white;' >Volver</a></button>
        <br>
        <br>
      </div>
      <br>
    </div>

    <div class="col columna-lateral"></div>
 </div>
{% endblock %}
{% block footer %}

<script src="/static/user/indexUser.vue" type="text/javascript" ></script>
<script type="text/javascript" src="/static/user/validaciones.js"></script>
{% endblock %}