certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-MySQLdb==0.2.0
get==2019.4.13
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mysqlclient==1.4.4
pbr==5.4.3
post==2019.4.13
public==2019.4.13
PyMySQL==0.9.3
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
six==1.12.0
stevedore==1.31.0
urllib3==1.25.8
virtualenv==16.7.5
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.16.0
