{% extends "layout.html" %}
{% block title %}Talleres{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/user/new.css" type="text/css" media="all">
{% endblock %}

{% block content %}
<br>
<br>
<div class="row align-items-center">
<div class="col columna-lateral"></div>

<div class="col-central">
  <div  id="centro" class="rounded container">
  	<br>
  	<h1>Talleres disponibles</h1>
  	<br>
	<table class="table table-dark table-hover rounded">
		<thead>
			<tr>
		    	<th>Nombre</th>
		        <th>Nombre Corto</th>
		        <th></th>
		    	<th></th>
		    </tr>
		</thead>
		<tbody>
			{% for taller in talleres %}
			<tr>
				<td>{{ taller.nombre}}</td> 
				<td>{{ taller.nombre_corto }}</td> 
				<td>
			  		<button  class="btn btn-primary"><a href="{{url_for('taller_show', id=taller.id)}}" style='text-decoration:none;color:white;' >Ver detalles</a></button>
	 			</td>
		  	</tr>
		  	{% endfor %}
      		</td>  
		</tbody>
	</table>
    <br>
  </div>
</div>  

<div class="col columna-lateral"></div>  
		 	
		 	
{% endblock %}
